.hideme
	{
		display:none;
	}
.extrapadd{
    padding: 10%;
    color: #ccc;
}
.product-image{    max-height: 300px;
    overflow: hidden;}
.products{ max-height: 400px !important;
}
.overlay{
	z-index: 999999;
    background: rgba(0, 0, 0, 0.66);
	position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.overlay img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
}

.extra{
	 margin: 0 34%;
	 color:#ccc;
}
.loader{
	    display: block;
    padding: 2% 46%;
}
.no_products{
    text-align: center;
    font-size: 18px;
    padding: 1em 0 0;
    border-top: 1px solid rgba(204, 204, 204, 0.48);	
	color: #ccc;

}

#load_more .height{
	max-height: 450px;
}
.presentation{cursor:pointer;}

.forcartrow:last-child {
    border-bottom: 1px solid rgba(16, 16, 16, 0.26) !important;
}
.forcartrow {
    padding: 10px !important;
    border: 1px solid rgba(16, 16, 16, 0.26) !important;
    border-bottom: 0 !important;
}
#add_review .title{    padding: 14px 3px 4px;
    font-weight: 600;
    margin-top: 1em;
    border-top: 1px solid #ccc;}
	
#add_review{display:none;}
.overlay{
	z-index: 9999;
    background: rgba(0, 0, 0, 0.66);
	position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.overlay img {
 position: absolute; 
 top: 0; 
 left: 0; 
 right: 0; 
 bottom: 0; 
 margin: auto; 
}
.product-add-review h4.title{
	margin-top: 1em;
    border-top: 1px solid rgba(204, 204, 204, 0.42);
    padding: 1em 0;
}
.maxheight{
    min-height: 700px !important;
}
#reg_formcheckout input.form-control{
	padding: 5px !important;
}
#login_formcheckout input.form-control{
	padding: 5px !important;
}

.saved_address{
}
.saved_address legend{
    border: none;
    background: #0f6cb2;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.saved_address ul{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 8px 0px;
}
.saved_address ul li{
    padding: 1em;
    background: rgba(15, 108, 178, 0.05);
    border-left: 3px solid #0f6cb2;
    margin-bottom: 1em !important;
}
.saved_address ul li address{
    margin: 0 !important;
    margin-bottom: 7px !important;
}
.saved_address ul li a{
    cursor: pointer;
    font-size: 11px;
    font-weight: 100;
}
.scrollbar
{
     background: #F5F5F5;
    margin-bottom: 25px;
}
#style-8::-webkit-scrollbar-track
{

}
.saved_address ul li.active{
	cursor: pointer;
    background: #0f6cb2;
    color: #fff;
}

#style-8::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
    background-color: #108bea;
}
.btn-outline{
    background: #f3f3f3;
    border: 1px solid #ccc;
    padding: 3px 11px 1px;
    border-radius:1px;
}
.white{color:#fff !important;}

#useraddedaddress{
	background-color: rgb(220, 255, 235);
    padding: 10px;
}

#mdaddressul ul li a.white
{
	display:none;
}

.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a{cursor:pointer;}

.deliverhere {
	padding:10px;
}
.deliverhere address{
	color: rgba(175, 65, 65, 0.96);
}
.deliverhere address b{
	color: rgba(0, 0, 255, 0.64);
}


/*****************seller ********************/
.image_cover .img-container img{
    width:100%;
    opacity: 0.6;

 }
 .image_cover .img-container{
    max-height: 500px;
    overflow-y: hidden;
    background: #000;
 }
 .image_recover .img-recontainer img{
    width:100%;
    /*opacity: 0.6;*/

 }
 .image_recover .img-recontainer{
    max-height:750px;
    overflow-y:hidden;
    background:#000;
  }
.img_seller_icons{
    position: relative !important;
    bottom: 4em !important;
}
.img_seller_icons ul  {
    list-style: none;
} 
.img_seller_icons ul li{
    display:inline-block;
    padding:10px 5px;
    background:#1874CD;
    width:37px;
    text-align:center;
    color:#fff;
}

    .shop-owner-text {
    bottom:4em;
    position:relative;
    width:20%;
}
.reviews {
    color:#DAA520;
    cursor:pointer;
    font-size:24px;
    line-height:23px;
}
.settle{
  position: absolute;
  bottom:-1px;
  width:100%;
  background:#1C86EE;
  /*background:#157ed2e6;*/
  z-index: 99
}
.settle_rev{
  position: absolute;
  width:100%;
  bottom:0px;
  z-index:90;
}
.image_cover{
margin-bottom:4em;
}
.image_size {
   margin:11% 15%;
min-height:270px;
max-height:270px;
overflow-y: hidden;
}
.tab_cover{
 
    /*background-color: #1874CD;*/
    color: #ffffff;
}
.btn_center{
  margin-left:600px;
}
/*.prosell{
  padding-top:10px;
}*/
.addcart{
  margin-left:125px ;
 position:relative;
 top:-10px;
}
.review{
  margin-top:-50px;
}
/*************shop*********************/
.shop_view_text {
    top: 218px;
    left:90px;
    position: absolute;
    background: rgba(0, 0, 0, 0.43);
    padding: 10px 15px;
    width: 400px;
   height: 100px;
}
 /************* Seller front page tabs ***************/
 /***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.yamm .dropdown-menu li a{padding: 0 !important;}