

/* ==========================================================================
   Invoice styles
   ========================================================================== */

body, h1, h2, h3, h4, h5, h6{
  font-family: 'Bree Serif', serif;
}

.table th{
  background-color: #66ccff;
}

/* ==========================================================================
   The following bootstrap rules should be replaced
   in order to achieve an identical visualization in media print
   ========================================================================== */

@media print {
  body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif !important;
  }

  .table th {
    background-color: #66ccff !important;
  }

  .panel-info > .panel-heading {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
  }

  .panel-default > .panel-heading {
    color: #333 !important;
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
  }

  a {
    color: #337ab7 !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }

  a[href]:after {
      content: none;
  }

  .panel-heading > h4 {
    color: inherit !important;
  }
}

