<?php   echo $layout['header'] ; ?>  
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>PRODUCT FEEDBACK</h2>
                   
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>PRODUCT FEEDBACK</h5>
                      
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th><input type="checkbox" ></th>
						<th>User Name</th>
                        <th>Product Name</th>
                        <th> Tittle</th>
                        <th> Description</th>
                        <th>Rating </th>
                        <th>Created </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="btn btn-primary">InActive</span></td>
                        <td class="center"><span class="btn btn-primary">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td><input type="checkbox" ></td>
                        <td>image</td>
                        <td>addad </td>
                        <td>adawfaafvgfgvradgvrfsgvrfg</td>
                        <td class="center">3.00</td>
                        <td class="center">2016-10-20 06:33:59</td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><span class="">InActive</span></td>
                        <td class="center"><a class="action-icons c-suspend" href="admin/admin_feedback/view_product_feedback/36" original-title="View">View</a></td>
                    </tr>
                   
                    </tbody>
                    <tfoot>
                    <tr>
                        <th><input type="checkbox" ></th>
						<th>User Name</th>
                        <th>Product Name</th>
                        <th> Tittle</th>
                        <th> Description</th>
                        <th>Rating </th>
                        <th>Created </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
