<?php   echo $layout['header'] ; ?>  
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>VIEW FEEDBACK REPORT</h2>
                  
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>VIEW FEEDBACK REPORT</h5>
                       
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th><input type="checkbox" ></th>
						<th> Reporter Name</th>
                        <th>Shop Name</th>
                        <th>Product Image</th>
                        <th>Reviewer Name</th>
                        <th>Review Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   <tr class="gradeX">
						<th><input type="checkbox" ></th>
                        <td>ipsi</td>
                        <td>sushmita</td>
                        <td><a href="products/cool-dresses" target="_blank" style="color:blue;">
																	 <img width="40px" height="40px" src="http://etsyclone.zoplay.com/images/product/thumb/1441353220-gown2.jpg">
															</a></td>
                        <td>ash</td>
                        <td class="center"><span class="btn btn-primary">Active</span></td>
                        <td class="center"><span><a class="action-icons c-suspend" href="admin/admin_feedback/view_feedback_report/3" original-title="View">View</a></span></td>
                    </tr>
                   
                   
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
