<?php   echo $layout['header'] ; ?>  
 
            
           <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Add Currency</h2>
                    
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
         <div class="row">
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add Currency</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                               
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <p>Sign in today for more expirience.</p>
                                <div class="form-group"><label class="col-lg-2 control-label">TEMPLATE NAME</label>

                                    <div class="col-lg-10"><input type="email" placeholder="TEMPLATE NAME" class="form-control"> 
                                    </div>
                                </div> 
								<div class="form-group"><label class="col-lg-2 control-label">EMAIL SUBJECT</label>

                                    <div class="col-lg-10"><input type="email" placeholder="EMAIL SUBJECT" class="form-control"> 
                                    </div>
                                </div>
								<div class="form-group"><label class="col-lg-2 control-label">SENDER NAME</label>

                                    <div class="col-lg-10"><input type="email" placeholder="SENDER NAME" class="form-control"> 
                                    </div>
                                </div>
								<div class="form-group"><label class="col-lg-2 control-label">SENDER EMAIL ADDRESS</label>

                                    <div class="col-lg-10"><input type="email" placeholder="SENDER EMAIL ADDRESS" class="form-control"> 
                                    </div>
                                </div>
                                 <div class="form-group"><label class="col-sm-2 control-label">Description:</label>
                                                <div class="col-sm-10">
                                                    <div class="summernote">
                                                        <h3>Lorem Ipsum is simply</h3>
                                                       
                                                        <br/>

                                                    </div>
                                                </div>
                                 </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
                
            </div>
              
            </div>
     
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>