<?php   echo $layout['header'] ; ?>  

            
           <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>EMAIL TEMPLATE LIST</h2>
                   
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>EMAIL TEMPLATE LIST</h5>
                       
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Template Name</th>
                        <th>Email Subject </th>
                        <th>Action</th>
						
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>Cancel Order</td>
                        <td>Confirm Account</td>
                      
						<td class="center"><a class="action-icons c-suspend" href="admin/currency/view_currency/1" original-title="View">View</a></td>
                    </tr> 
					<tr class="gradeX">
                        <td>Cancel Order</td>
                        <td>Confirm Account</td>
                     
                       
						<td class="center"><a class="action-icons c-suspend" href="admin/currency/view_currency/1" original-title="View">View</a></td>
                    </tr> 
					
					<tr class="gradeX">
                        <td>Cancel Order</td>
                        <td>Confirm Account</td>
                     
                       
						<td class="center"><a class="action-icons c-suspend" href="admin/currency/view_currency/1" original-title="View">View</a></td>
                    </tr> 
					<tr class="gradeX">
                        <td>Cancel Order</td>
                        <td>Confirm Account</td>
                      
                      
						<td class="center"><a class="action-icons c-suspend" href="admin/currency/view_currency/1" original-title="View">View</a></td>
                    </tr> 
					
                    </tbody>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>