<?php   echo $layout['header'] ; ?>  

             <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>MULTILANGUAGE MANAGE</h2>
                    <!--ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Tables</a>
                        </li>
                        <li class="active">
                            <strong>Data Tables</strong>
                        </li>
                    </ol-->
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!--h5>Basic Data Tables example with responsive plugin</h5>
                        <!--div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div-->
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
					<th><input type="checkbox"  ></th>
                        <th> Language Name</th>
                        <th>language Code</th>
                        <th>Status</th>
                        <th>Default Language</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>  <tr class="gradeX">
                        <td><input type="checkbox"  ></td>
                        <td>Arabic</td>
                        <td>ar</td>
                        <td><button>Active</button></td>
                        <td><button>NO</button></td>
                      
                        <td class="center">X</td>
                    </tr>
                   
                    </tbody>
                    <tfoot>
                    <tr>
						<th><input type="checkbox"  ></th>
                         <th> Language Name</th>
                        <th>language Code</th>
                        <th>Status</th>
                        <th>Default Language</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 