<<<<<<< HEAD
<?php   echo $layout['header'] ; ?>  
 <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <!-- <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav> -->
        </div>
            
           <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Data Tables</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Tables</a>
                        </li>
                        <li class="active">
                            <strong>Data Tables</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
=======
<?php   echo $layout['header'] ; ?>              
	   <div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2>Order List</h2>				
			</div>
			<div class="col-lg-2">
			</div>
		</div>
>>>>>>> a6e97c69083a97e09b604fd0d86efbb308903fd8
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Order List</h5>                        
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive">
                     <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>User Email</th>
                        <th>Payment Date</th>
                        <th>Total</th>
                        <th>Payment Type</th>
                        <th>Shipping Status</th>
                        <th>Payment Status</th>
                    </tr>
                    </thead>
                    <tbody>
					<?php foreach($paidpayment as $pay) {  ?>
                    <tr class="gradeX">
                        <td><?= $pay->order_number; ?></td>
                        <td><?= $pay->email; ?></td>
                        <td><?= $pay->order_added; ?></td>
                        <td><?= $pay->total_price; ?></td>
                        <td><?= $pay->payment_type; ?></td>
                        <td>
						<span class="label label-primary">
							<?php if($pay->order_shipping_status==0) echo  "Pending"; else
							   if($pay->order_shipping_status==1) echo  "Processed"; else
							   if($pay->order_shipping_status==2) echo  "Shipped"; else  
							   if($pay->order_shipping_status==3) echo  "Delivered"; else
							   if($pay->order_shipping_status==5) echo  "Refund"; else
							   if($pay->order_shipping_status==6) echo  "Reshipment";else echo "";							
							?>
						</span>
						</td>
                        <td>
						<select id="payment_status" class="form-control">				  	<option value="1">Paid</option>
							<option value="0">Pending</option>
						</select>
						<input type="hidden" value="<?= $pay->order_payment_status; ?>" id="pay_status">
                        </td>                                               		
                    </tr> 
					<?php } ?>					
                    </tbody>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>       
<?php echo $layout['footer']; ?>
<script>
$(document).ready(function(){
	var pay_status = $('#pay_status').val(); 
	if(pay_status == '1'){ 
		$('#payment_status').val('1');
	}else{
		$('#payment_status').val('0');
	}
});
</script>