<?php   echo $layout['header'] ; ?>  
<div id="page-wrapper" class="gray-bg">
         <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>THEME LIST</h2>
                   
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
              <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Top navigation, centered content layout</h4>
                    <small>(optional layout)</small>
                 
                    
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                        <a href="dashboard_4.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Basci left side nabigation layout </h4><small>(main layout)</small>
                  
                    <div class="m-t-md">
                        
                        <div class="p-lg">
                            <a href="dashboard_4_1.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
		<div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Basci left side nabigation layout </h4><small>(main layout)</small>
                  
                    <div class="m-t-md">
                        
                        <div class="p-lg">
                            <a href="dashboard_4_1.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
	 <div class="row">
	  <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Top navigation, centered content layout</h4>
                    <small>(optional layout)</small>
                 
                    
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                        <a href="dashboard_4.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Top navigation, centered content layout</h4>
                    <small>(optional layout)</small>
                 
                    
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                        <a href="dashboard_4.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Basci left side nabigation layout </h4><small>(main layout)</small>
                  
                    <div class="m-t-md">
                        
                        <div class="p-lg">
                            <a href="dashboard_4_1.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
	 <div class="row">
		<div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Top navigation, centered content layout</h4>
                    <small>(optional layout)</small>
                 
                    
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                        <a href="dashboard_4.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Top navigation, centered content layout</h4>
                    <small>(optional layout)</small>
                 
                    
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                        <a href="dashboard_4.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Basci left side nabigation layout </h4><small>(main layout)</small>
                  
                    <div class="m-t-md">
                        
                        <div class="p-lg">
                            <a href="dashboard_4_1.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/dashbard4_1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Full height - Outlook view <span class="label label-primary">NEW</span></h4>
                 
                   
                 
                    <div class="m-t-md">
                       
                        <div class="p-lg ">
                            <a href="full_height.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/full_height.jpg" alt=""></a>assets\admin\img
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h4 class="m-b-xxs">Off canvas menu <span class="label label-primary">NEW</span></h4>
                   
                    <div class="m-t-md">
                       
                        <div class="p-lg">
                            <a href="off_canvas_menu.html"><img class="img-responsive img-shadow" src="<?php echo base_url() ?>assets/admin/img/off_canvas.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
