<?php
echo	$layout['header'];
?> 
<link rel="stylesheet" href="<?=base_URL();?>assets/frontend/main.css">		
<section id="content-wrapper">

    <section id="container">
        <div class="container">
            <div  class="container-fluid">
               
                <div  id="listings" class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                             
							</div>
                </div>
            </div>
        </div>
    </section>

    <?php
    echo	$layout['footer'];
    ?>