<?php
   echo $layout['header'];
?>
<style>
.m-top{margin-top:3em;}
.fk-list-message{margin:0;}
.app-content{min-height:600px;}

.membership-pricing-table {
      width:100%;
	  padding: 2em 10em;
}

.membership-pricing-table table .icon-no,.membership-pricing-table table .icon-yes {
    font-size: 22px
}

.membership-pricing-table table .icon-no {
    color: #a93717
}

.membership-pricing-table table .icon-yes {
    color: #209e61
}

.membership-pricing-table table .plan-header {
    text-align: center;
    font-size: 48px;
    border: 1px solid #e2e2e2;
    padding: 25px 0
}

.membership-pricing-table table .plan-header-free {
    background-color: #eee;
    color: #555
}

.membership-pricing-table table .plan-header-blue {
    color: #fff;
    background-color: #61a1d1;
    border-color: #3989c6
}

.membership-pricing-table table .plan-header-standard {
    color: #fff;
    background-color: #ff9317;
    border-color: #e37900
}

.membership-pricing-table table td {
    text-align: center;
    width: 15%;
    padding: 7px 10px;
    background-color: #fafafa;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset
}

.membership-pricing-table table,.membership-pricing-table table td {
    border: 1px solid #ebebeb
}

.membership-pricing-table table tr td:first-child {
    background-color: transparent;
    text-align: right;
    width: 24%
}

.membership-pricing-table table tr td:nth-child(5) {
    background-color: #FFF
}

.membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
    -webkit-box-shadow: none;
    box-shadow: none
}

.membership-pricing-table table tr:first-child th:first-child {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #e2e2e2
}

.membership-pricing-table table tr:first-child th .pricing-plan-name {
    font-size: 22px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price {
    line-height: 35px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
    font-size: 45%
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>span {
    font-size: 30%
}

.membership-pricing-table table tr:first-child th .pricing-plan-period {
    margin-top: -7px;
    font-size: 25%
}

.membership-pricing-table table .header-plan-inner {
    position: relative
}

.membership-pricing-table table .recommended-plan-ribbon {
    box-sizing: content-box;
    background-color: #dc3b5d;
    color: #FFF;
    position: absolute;
    padding: 3px 6px;
    font-size: 11px!important;
    font-weight: 500;
    left: -6px;
    top: -22px;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -1px #c2284c inset;
    box-shadow: 0 -1px #c2284c inset;
    text-shadow: 0 -1px #c2284c
}

.membership-pricing-table table .recommended-plan-ribbon:before {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 0 0 6px;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .recommended-plan-ribbon:after {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 6px 0 0;
    bottom: -5px;
    content: "";
    right: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .plan-head {
    box-sizing: content-box;
    background-color: #ff9c00;
    border: 1px solid #cf7300;
    position: absolute;
    top: -33px;
    left: -1px;
    height: 30px;
    width: 100%;
    border-bottom: none
}
</style>
<div class="container">
   <div id="sub-app-container">
      <div id="blinx-wrapper-23" class="returnOrdersMainComposite-default play-arena">
         <section class="app-content">
            <div class="orders-header">
				<div class="row">
                  <h3 class="text text-center">Introducing Seller Tiering</h3>
                  <h6 class="text text-center">Based on performance for 90 days till Oct 20, 2016</h6>
				</div>
			    <div class="row">
					<h3 class="text text-center seller_status">Your Status: <b>Bronze</b></h3>
				</div>
            </div>
			<div class="table-responsive">
			<div class="membership-pricing-table">
				<table width="100%">
					<tbody><tr>
						<th></th>
						<th class="plan-header plan-header-free">
							<div class="pricing-plan-name">Bronze</div>
							<div class="pricing-plan-price">
								<sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup>
							</div>
							<div class="pricing-plan-period">Beginner</div>
						</th>
						<th class="plan-header plan-header-blue">
							<div class="pricing-plan-name">Silver</div>
							<div class="pricing-plan-price">
								<sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup>
							</div>
							<div class="pricing-plan-period">Intermediate</div>
						</th>
						<th class="plan-header plan-header-standard">
							<div class="pricing-plan-name">Gold</div>
							<div class="pricing-plan-price">
								<sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup> <sup class="fa fa-star"></sup>
							</div>
							<div class="pricing-plan-period">Professional</div>
						</th>
					</tr>
					<tr >
						<td style="padding: 7px 1em;    text-align: left;    background: rgba(97, 161, 209, 0.78);    color: #fff;    font-weight: 600;    letter-spacing: 1px;    font-size: 16px;    border: none;">Benchmarks</td>
						<td colspan="1" style="background: rgba(97, 161, 209, 0.78);color: #fff;font-weight: 600;border: none;">
							<table style="border:none;width:100%;">
								<tr>
									<td style="width:50%;text-align: center;   color: #fff;    border: none;">Benchmarks</td>
									<td style="width:50%;text-align: center;    background: rgba(97, 161, 209, 0.78);    color: #fff;   border: none;">Your Score</td>
								</tr>
							</table>
						</td>
						<td colspan="2" style="padding: 7px 1em;    text-align: left;    background: rgba(97, 161, 209, 0.78);    color: #fff;    font-weight: 600;    letter-spacing: 1px;    font-size: 16px;    border: none;"></td>
					</tr>
					<tr>
						<td>Seller Cancellation</td>
						<td colspan="1">
							<table style="border:none;width:100%;">
								<tr>
									<td style="width:50%;text-align: center;    border: none;">Benchmarks</td>
									<td style="width:50%;text-align: center;    background: rgba(97, 161, 209, 0.78);    color: #fff;   border: none;">0%</td>
								</tr>
							</table>
						</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
					</tr>
					<tr>
						<td>Dispatch Breaches</td>
						<td colspan="1">
							<table style="border:none;width:100%;">
								<tr>
									<td style="width:50%;text-align: center;    border: none;">Benchmarks</td>
									<td style="width:50%;text-align: center;    background: rgba(97, 161, 209, 0.78);    color: #fff;   border: none;">0%</td>
								</tr>
							</table>
						</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
					</tr>
					<tr>
						<td>Customer Returns</td>
						<td colspan="1">
							<table style="border:none;width:100%;">
								<tr>
									<td style="width:50%;text-align: center;    border: none;">Benchmarks</td>
									<td style="width:50%;text-align: center;    background: rgba(97, 161, 209, 0.78);    color: #fff;   border: none;">0%</td>
								</tr>
							</table>
						</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
					</tr>
					<tr>
						<td>Sales (in Rs.)</td>
						<td colspan="1">
							<table style="border:none;width:100%;">
								<tr>
									<td style="width:50%;text-align: center;    border: none;">Benchmarks</td>
									<td style="width:50%;text-align: center;    background: rgba(97, 161, 209, 0.78);    color: #fff;   border: none;">0%</td>
								</tr>
							</table>
						</td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
					</tr>
					<tr >
						<td colspan="4" style="padding: 7px 1em;    text-align: left;    background: rgba(97, 161, 209, 0.78);    color: #fff;    font-weight: 600;    letter-spacing: 1px;    font-size: 16px;    border: none;">Benefits</td>
					</tr>
					<tr>
						<td>Forward Shipping Fee Discount</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></td>
						<td>10% Discount</td>
						<td>20% Discount</td>
					</tr>
					<tr>
						<td>Payment cycle</td>
						<td>15 Days</td>
						<td>12 Days</td>
						<td>7 Days</td>
					</tr>
					<tr>
						<td>Product Visibility to Customers</td>
						<td>Low</td>
						<td>Medium</td>
						<td>high</td>
					</tr>
					<tr>
						<td>Exclusive Promotions</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></td></td>
						<td>Coming Soon!</td>
						<td>Coming Soon!</td>
					</tr>
					<tr>
						<td>Account Manager</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></td>
						
					</tr>
					<tr>
						<td>Priority Seller Support</td>
						<td>Regular</td>
						<td>Regular</td>
						<td>Priority</td>
					</tr>
					<tr>
						<td>Exclusive Flipkart Events</td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></td>
						<td><span class="icon-no glyphicon glyphicon-remove-circle"></td>
						<td><span class="icon-yes glyphicon glyphicon-ok-circle"></td>
					</tr>
				</tbody></table>
				<div class="row">
				  <div class="col-md-3 col-md-offset-9 m-top">
					<button class="btn btn-primary btn-block">Get to silver</button>
				  </div>
				</div>
			</div>
		  </section>   
	  </div>
	  
		
	  </div>
	</div>
</div>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<?php
   echo $layout['footer'];
?>