<?php   echo $layout['header'] ; ?>  
 
            
           <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Teams List</h2>
                  
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Teams List</h5>
                         <a type="buttton" href="<?php echo site_url(); ?>admin/add_team" name="add_team" style="margin-top:5px;" class="btn btn-primary pull-right">Add Teams</a>
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Captain</th>
                        <th>Team logo</th>
                        <th>Discussion</th>
                        <th>Join Date</th>
                        <th>status</th>
                        <th>Action</th>
						
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>Gangster </td>
                        <td>etsysuper </td>
                       <td class="center"><img src="<?php echo base_url();?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>5</td>
                        <td>12/12/2016</td>
                        <td class="center"> <span class="label label-primary">Enable</span></td>
                         <td class="text-right">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs">View</button>
                            <button class="btn-white btn btn-xs">Edit</button>
                        </div>
                    </td>
			
                    </tr>
                    <tr class="gradeX">
                        <td>Gangster </td>
                        <td>etsysuper </td>
                       <td class="center"><img src="<?php echo base_url();?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>5</td>
                        <td>12/12/2016</td>
                        <td class="center"> <span class="label label-primary">Enable</span></td>
                         <td class="text-right">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs">View</button>
                            <button class="btn-white btn btn-xs">Edit</button>
                        </div>
                    </td>
			
                    </tr>
                    
                    </tbody>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
       
<?php echo $layout['footer']; ?>

