<?php   echo $layout['header'] ; ?>  

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>DISPLAY OFFERS</h2>
                   
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                        <!--div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div-->
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Buyer Name</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Seller Name</th>
                        <th>Actual Price</th>
                        <th>Asking Price</th>
                        <th>Status</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class="text-center status tip_top" original-title=" Seller not convinced with that Price">
										Declined									</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class=" text-center status tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class=" text-centerstatus tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr> 
					<tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class=" text-center status tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr> <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class=" text-centerstatus tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr> <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class=" text-centerstatus tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr> <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class="status tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr> <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#8DAAFF;" class="status tip_top" original-title=" Seller not convinced with that Price">Declined	</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
								</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
								</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                       <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
								</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
								</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                      <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
								</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                       <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
						</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#78c042;" class="text-center" original-title="Product has been added in Buyer cart">Success</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center"><div style="background-color:#A0A0A0;" class="text-center status tip_top" original-title="Waiting for seller Approval">Pending</div></td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                    <tr class="gradeX">
                        <td>ipsi</td>
                        <td>Dresses
                            
                        </td>
						<td><img src="<?php echo base_url(); ?>assets/admin/img/a5.jpg" class="thumbnail" width="40px" height="40px"></td>
                        <td>shreya</td>
                        
                        <td class="center">$1000.00000</td>
                        <td class="center">$900.00000.00</td>
                        <td class="center ">
									<div style="background-color:#D14719;" class="status tip_top" original-title="Seller is unconvinced &amp; dis-approved it">
										Rejected									</div>
						</td>
                        <td class="center">2016-08-26 15:42:19</td>
                    </tr>
                   
                    </tbody>
                    <tfoot>
                    <tr>
                         <th>Buyer Name</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Seller Name</th>
                        <th>Actual Price</th>
                        <th>Asking Price</th>
                        <th>Status</th>
                        <th>Created On</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
