<?php   echo $layout['header'] ; ?>  

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>QUESTIONS FROM USER TO SHOP OWNER</h2>
                   
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>QUESTIONS FROM USER TO SHOP OWNER</h5>
                       
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Product Name</th>
                        <th>Seller Email</th>
                        <th>Contact Date / Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ananth</td>
                        <td>swistlee@gmail.com
                        </td>
                        <td>Apple mac book pro</td>
                        <td class="center">denskylers@gmail.com</td>
                        <td class="center">2016-01-04 07:25:50</td>
						<td class="center">
								<span><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_askquestion_form/88" original-title="View">View</a></span>
                                <span><a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_askquestion_info/88')" original-title="Delete">Delete</a></span>
						</td>
                    </tr>
                   
                    </tbody>
                    <tfoot>
                   <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Product Name</th>
                        <th>Seller Email</th>
                        <th>Contact Date / Time</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
