<?php   echo $layout['header'] ; ?>  
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Data Tables</h2>
                  
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                   
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Seller Email</th>
                        <th>Contact Date / Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com</td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Rahul </td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>himanshu</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>jintendra</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>rpiya</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>amit</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Ramesh</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akhilesh</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>lucky</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>sandeep </td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Akki</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>manoj</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>Mukesh</td>
                        <td>ratantatamumbai@gmail.com               </td>
                        <td>sivaprakash@teamtweaks.com</td>
                        <td class="center">2015-08-06 08:18:37</td>
                        <td class="center"><a class="action-icons c-suspend tipTop" href="admin/contactseller/view_contactseller_form/5" original-title="View">View</a>
						<a class="action-icons c-delete" href="javascript:confirm_delete('admin/contactseller/delete_contactseller_info/5')" original-title="Delete">Delete</a></td>
                    </tr>
                   
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Seller Email</th>
                        <th>Contact Date / Time</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>  
        

       
       
<?php echo $layout['footer']; ?>

 <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

    </script>
